{% extends 'pages/open_page.twig' %}
{% block extrajs %}
{% endblock %}
{% block main %}

<div class="grid-x">
    <div class="cell small-12 medium-1">
    </div>
    <div class="cell small-12 medium-10 clearfix">
        <div class="grid-x">
            <div class="cell small-12">
                <h1 class="text-center">Calendar</h1>
            </div>
            <div class="cell small-12">
                <form method="POST" action="{{data.uri}}">
                    <div class="grid-x">
                        <input type="hidden" name="base_date" value="{{data.base_date}}">
                        <div class="cell small-12 medium-4"></div>
                        <div class="cell small-12 medium-1"> 
                            <button type="submit" name="navigation" value="previous" class="button">Previous</button>
                        </div>        
                        <div class="cell small-12 medium-2 text-center">{{data.months[data.month - 1]}} {{data.year}}</div>
                        <div class="cell small-12 medium-1">
                            <button type="submit" name="navigation" value="next" class="button">Next</button>
                        </div>     
                        <div class="cell small-12 medium-4"></div>
                    </div>
                </form>
            </div>    
            <div class="cell small-12 medium-3"></div>    
            {% for dayofweek in data.day_of_weeks %}
                <div class="cell small-12 medium-1">
                    <time><h2>{{ dayofweek }}</h2></time>
                </div>
            {% endfor %}
            <div class="cell small-12">
                <div class="grid-x">
                {% for week in data.weeks %}
                    <div class="cell small-12 medium-3"></div>
                    {% for day in week %}
                        <div class="small-12 medium-1">
                            <h3>{{ day }}{% if data.day == day and data.base_date == data.current_date %}*{% endif %}</h3>
                        </div>
                    {% endfor %}
                    <div class="cell small-12 medium-2"></div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="cell medium-1"></div>
</div>

<script>
  $(document).foundation();
</script>
{% endblock %}
